<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }} | {{ site.description }}</title>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    {% include navbar.html %}

    <main class="container mx-auto mt-8">
      <div class="flex flex-col items-center justify-center">
        <div class="max-w-3xl">
          <h1 class="text-4xl font-bold text-center mb-4">Besek</h1>
          <p class="text-center">{{ site.content_description }}</p>
        </div>
      </div>
      <div class="flex flex-col mt-6 gap-8">
        {% for post in site.posts %}
        <div>
          <h2 class="font-bold">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          </h2>
            {{ post.date | date: "%A, %B %-d, %Y" }}
          <//h2>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
